<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391813623538-09cmf9mdfr8nf9geug55srbmdj72j4i8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391813623538-09cmf9mdfr8nf9geug55srbmdj72j4i8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>391813623538-m9p5m420fne9psgrs4jj29m62oq07p2v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASkf7lk2s0uIuBwcH8U8jkbNSFycJl1g0</string>
	<key>GCM_SENDER_ID</key>
	<string>391813623538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arles.restaurants</string>
	<key>PROJECT_ID</key>
	<string>restaurants-72584</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurants-72584.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391813623538:ios:571d9ac8872b15ea19ea6b</string>
</dict>
</plist>